@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Playpen Sans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Playpen Sans', cursive;
    
}

.ant-modal-content {
  background: #16182e !important;
  border-radius: 24px !important;
  border: 2px solid #16182e !important;
}

.ant-modal-header {
  background: #16182e !important;
  border-radius: 24px !important;
  border: 2px solid #16182e !important;
}

.ant-dropdown::before {
  background: #16182e !important;
  border-radius: 24px !important;
  border: 2px solid #16182e !important;
}
